.cart{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #81a9ff;
    margin-top: 15px;
    height: 100px;
}
.btn-cart{
    margin-right: 30px;
    height: 25px;
    background-color: #3F51B5;
    border-color: #f9f5f5;
    color: white;
    border-radius: 10px;
}

.products{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.product-item{
    width: 100%;
    border: #81a9ff 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}